<section class="about_area section_gap pb-5">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="offset-lg-1 col-lg-10">
                <div class="mt-4">
                    <h2 class="pb-4">Über mich.</h2>
                    <p>Mein Name ist Andreas Siedler, ich bin Fullstack-Entwickler und Web Freelancer aus Wien - mit Wurzeln
                        im digitalen Marketing & SEO. Ich habe eine Leidenschaft für Design, Technologie und im
                        Grunde alles, was das Internet ausmacht.
                    </p>
                    <p>Meine Arbeit besteht derzeit aus einer Teilzeitbeschäftigung in einem IoT-Startup in Wien und
                        der Betreuung unterschiedlicher Projekte als Freelancer. Der Spagat ist ideal, sowohl meine
                        Karriere als Softwareentwickler voranzutreiben, als auch mit der rasanten Entwicklung von
                        neuen Technologien, Libraries, Frameworks usw. Schritt zu halten.</p>
                    <p>Bereits 2014 habe ich begonnen Wordpress Webseiten zu entwickeln - Ein Jahr später war ich
                        bei einer digitalen Beratungsagentur als Webentwickler tätig. Seitdem habe ich mich in all
                        die verschiedenen JavaScript-Frameworks wie React & Angular und die Erstellung reaktiver
                        Webanwendungen verliebt. Für statische Sites und CMS Websites verwende ich gerne Django in
                        Kombination mit Wagtail.</p>
                    <p>Ganz gleich, ob Sie Geschäftsführer sind, der mit einem freiberuflichen Webentwickler an
                        einem Projekt arbeiten möchte, oder Entwickler, der an etwas Coolem mitarbeiten möchte -
                        oder einfach nur Hallo sagen möchte :) - schick mir eine Nachricht und lass uns gemeinsam
                        Großartiges schaffen!</p>
                </div>
            </div>
        </div>
</section>
