{% load static %}

<section class="features_area mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <h2>What I do best.</h2>
                    <!-- <p>
                        Is give may shall likeness made yielding spirit a itself togeth created 
                        after sea <br> is in beast beginning signs open god you're gathering ithe
                    </p>-->
                </div>
            </div>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="{% static 'img/services/s3.png' %}" alt="">
                    <h4>Web Entwicklung</h4>
                    <p>Design und Entwicklung von state-of-the-art Webanwendungen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="{% static 'img/services/s2.png' %}" alt="">
                    <h4>App Entwicklung</h4>
                    <p>Design und Entwicklung attraktiver iOS and Android Apps.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="{% static 'img/services/s1.png' %}" alt="">
                    <h4>UI/UX Design</h4>
                    <p>Blitzschnelle & traumhafte Frontend User Interfaces.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="{% static 'img/services/s4.png' %}" alt="">
                    <h4>SEO Optimierung</h4>
                    <p>Werde sichtbar in der weiten digitalen Welt.</p>
                </div>
            </div>
        </div>
    </div>
</section>