<section class="portfolio_area" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title text-left">
                    <h2>Recent Projects.</h2>
                </div>
            </div>
        </div>
        <!-- <div class="filters portfolio-filter">
            <ul>
                <li class="active" data-filter="*">all</li>
                <li data-filter=".popular">popular</li>
                <li data-filter=".latest"> latest</li>
                <li data-filter=".following">following</li>
                <li data-filter=".upcoming">upcoming</li>
            </ul>
        </div> -->

        <div class="filters-content">
            <div class="row portfolio-grid justify-content-center">
                <div class="col-lg-6 col-md-6 all latest">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio/p1.jpg' %}" alt="">
                            <div class="overlay"></div>
                            <!-- <a href="{% static 'img/portfolio/p1.jpg' %" class="img-gal"> -->
                            <div class="icon">
                                <span class="lnr lnr-cross"></span>
                            </div>
                            <!-- </a> -->
                        </div>
                        <div class="short_info">
                            <h4><a href="portfolio-details.html">Django (Python) Dashboard</a></h4>
                            <p>Waytation, 2020</p>
                            <p><b>Development tools: </b>
                                Django
                                Javascript
                                Leaflet
                                Bootstrap
                                Plotly-Dash
                                Docker
                                Python
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 all popular">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio/p2.jpg' %}" alt="">
                            <div class="overlay"></div>
                            <!-- <a href="{% static 'img/portfolio/p2.jpg' %}" class="img-gal"> -->
                            <div class="icon">
                                <span class="lnr lnr-cross"></span>
                            </div>
                            <!-- </a> -->
                        </div>
                        <div class="short_info">
                            <h4><a href="portfolio-details.html">React Web App</a></h4>
                            <p>Waytation, 2020</p>
                            <p><b>Development tools: </b>
                                React
                                Bootstrap
                                Leaflet
                                Axios
                                LeafletDraw
                                Mapbox
                                Docker
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 all latest">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio/p3.jpg' %}" alt="">
                            <div class="overlay"></div>
                            <!-- <a href="{% static 'img/portfolio/p3.jpg' %}" class="img-gal"> -->
                            <div class="icon">
                                <span class="lnr lnr-cross"></span>
                            </div>
                            <!-- </a> -->
                        </div>
                        <div class="short_info">
                            <h4><a href="portfolio-details.html">Node.js Web App</a></h4>
                            <p>Waytation, 2019</p>
                            <p><b>Development tools: </b>
                                Node
                                Bunyan
                                Express
                                Bootstrap
                                EJS
                                Nodemon
                                Docker
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 all popular">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio/p4.jpg' %}" alt="">
                            <div class="overlay"></div>
                            <!-- <a href="{% static 'img/portfolio/p4.jpg' %}" class="img-gal"> -->
                            <div class="icon">
                                <span class="lnr lnr-cross"></span>
                            </div>
                            <!-- </a> -->
                        </div>
                        <div class="short_info">
                            <h4><a href="portfolio-details.html">Shopware Onlineshop</a></h4>
                            <p>Apoolco, 2019</p>
                            <p><b>Development tools: </b>
                                Shopware
                                Smarty
                                PHP
                                Javascript
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 all following">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="{% static 'img/portfolio/p5.jpg' %}" alt="">
                            <div class="overlay"></div>
                            <!-- <a href="{% static 'img/portfolio/p5.jpg' %}" class="img-gal"> -->
                            <div class="icon">
                                <span class="lnr lnr-cross"></span>
                            </div>
                            <!-- </a> -->
                        </div>
                        <div class="short_info">
                            <h4><a href="portfolio-details.html">Shopware Onlineshop</a></h4>
                            <p>b-intense, 2018</p>
                            <p><b>Development tools: </b>
                                Shopware
                                Smarty
                                PHP
                                Javascript
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>