<div class="testimonial_area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <h2>Things people say.</h2>
                    <!-- <p>Deine Meinung ist mir besonders wichtig. Im gesamten Entwicklungsprozess werde ich deine Vorstellungen und Wünsche stets berücksichtigen.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testi_slider owl-carousel">
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{% static 'img/testimonials/t3.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4 class="mb-1">Öznur Aslan</h4>
                                <h6 class="text-secondary">Waytation GmbH</h6>
                                <p>Herr Siedler erfüllte unsere Erwartungen zur vollsten Zufriedenheit und mit
                                    höchstem Maße an Professionalität. Wir wollen uns hiermit noch einmal bei Herrn
                                    Siedler für die hervorragende Zusammenarbeit bedanken.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testi_item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{% static 'img/testimonials/t2.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-8">
                            <div class="testi_text">
                                <h4 class="mb-1">Markus Steinbauer</h4>
                                <h6 class="text-secondary">Apoolco GmbH</h6>
                                <p>Herr Siedler hat unsere Anforderungen stets zur vollsten Zufriedenheit erledigt.
                                    Er überzeugte durch Zuverlässigkeit, große Einsatzbereitschaft und
                                    außergewöhnliches Engagement bei der Lösung schwieriger Aufgaben.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>