{% load static %}
{% load wagtailimages_tags %}
 
 <!--================ Image And Text Block =================-->
 <section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <!-- <img class="" src="{% static 'img/about-us.png' %}" alt=""> -->
                    {% image self.image original %}
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5 text-center">
                <img style="border-radius: 50%; width: 150px;" src="{% static 'img/testimonials/t0.jpg' %}" alt="">
                <div class="main_title mt-4">
                    <h2>{{ self.title }}</h2>
                    <p>
                        {{ self.text }}
                    </p>
                    <p>

                    <!-- <a class="primary_btn" href="#"><span>Showroom</span></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Image And Text Block =================-->