{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>

    <!--================ Start Home Banner Area =================-->
	<section class="home_banner_area py-5">
		<div class="banner_inner py-5">
			<div class="container pt-5">
				<div class="row">
					<div class="col-lg-6 pt-5">
						<div class="banner_content">
							<!-- <h3 class="text-uppercase">IO Express</h3> -->
							<h5 class="mt-4 mb-1 text-white">Hi, my name is</h5>
							<h1 class="mb-3 text-uppercase text-white">Andreas Siedler</h1>
							<h5 class="mb-4 text-white">Fullstack Developer from Vienna</h5>

							<div class="d-flex align-items-center">
								<!-- <a class="primary_btn" href="#"><span>Hire Us</span></a> -->
								<a class="primary_btn tr-bg" href="/contact"><span>Get in Touch</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="">
							<img class="w-100" src="{% static 'img/banner/home-right.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<section class="about_area section_gap pb-5">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<!-- <div class="col-lg-4">
					<div class="about_img">
						<img alt="about-us.png" height="631" src="{% static 'img/about-us-new.png' %}" width="687">
					</div>
				</div>
	 -->
				<div class="offset-lg-1 col-lg-10">
					<!-- <img style="border-radius: 50%; width: 150px;" src="{% static 'img/testimonials/t0.jpg' %}" alt=""> -->
					<div class="mt-4">
						<h2>About me.</h2>
						<p>My name is Andreas Siedler. I’m a fullstack software engineer from Vienna -- with roots in digital marketing & SEO. I'm passionate about music, technology and basically everything that makes the internet tick.</p>
						<p>My work currently consists of a full time engineering role at an IoT Startup in Vienna & managing ongoing freelance clients and side projects. I find this balancing act to be super resourceful in terms my learning as a software engineer, as well as for keeping up with the rapid expansion of developer tools, libraries, frameworks, etc.</p>
						<p>My web development roots are in Wordpress & Shopware, of which I'm self taught. Back in 2015, I built my first Wordpress Website and one year later I worked for a digital consulting agency as a web developer. Since then, I fell in love with all the different JavaScript Frameworks like React & Angular and building reactive web applications. For static sites, I love using Django & Wagtail for creating blazing fast, SEO-driven headless frontend user interfaces.</p>
						<p>Whether you're a business owner looking to get started on an app or web development project with a freelance web developer, a developer looking to collaborate on something cool, or just wanting to say hi, shoot me a message and let's work together.</p>

				</div>
			</div>
		</div>
	</section>

	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/angular.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/react.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/vuejs.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/django.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/flutter.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/python.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/docker.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/logo8.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/skills/ionic.png' %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="offset-lg-2 col-lg-4 col-md-6">
					<div class="client-info">
						<div class="d-flex mb-50">
							<span class="lage">x5   </span>
							<span class="smll">Years Experience Working</span>
						</div>
						<div class="call-now d-flex">
							<div>
								<span class="fa fa-phone"></span>
							</div>
							<div class="ml-15">
								<p>call me</p>
								<h3>(+43) 676 945 7566</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brand Area =================-->


	<!--================ Start Features Area =================-->
	<section class="features_area mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>What I do best.</h2>
						<!-- <p>
							Is give may shall likeness made yielding spirit a itself togeth created 
							after sea <br> is in beast beginning signs open god you're gathering ithe
						</p>
					</div> -->
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s1.png' %}" alt="">
						<h4>Web developing</h4>
						<p>Design and development of state-of-the-art web applications.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s2.png' %}" alt="">
						<h4>App developing</h4>
						<p>Design and development of beautiful iOS and Android apps.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s3.png' %}" alt="">
						<h4>UI/UX DESIGN</h4>
						<p>Building blazing fast, beautiful frontend user interface.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s4.png' %}" alt="">
						<h4>SEO optimize</h4>
						<p>Making your product visible in the online world.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>Recent Projects</h2>
					</div>
				</div>
			</div>
			<!-- <div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">all</li>
					<li data-filter=".popular">popular</li>
					<li data-filter=".latest"> latest</li>
					<li data-filter=".following">following</li>
					<li data-filter=".upcoming">upcoming</li>
				</ul>
			</div> -->
	
			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					<div class="col-lg-6 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p1.jpg' %}" alt="">
								<div class="overlay"></div>
								<!-- <a href="{% static 'img/portfolio/p1.jpg' %" class="img-gal"> -->
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								<!-- </a> -->
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">Django (Python) Dashboard</a></h4>
								<p>Waytation, 2020</p>
								<p><b>Development tools: </b>
									Django
									Javascript
									Leaflet
									Bootstrap
									Plotly-Dash 
									Docker
									Python
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p2.jpg' %}" alt="">
								<div class="overlay"></div>
								<!-- <a href="{% static 'img/portfolio/p2.jpg' %}" class="img-gal"> -->
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								<!-- </a> -->
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">React Web App</a></h4>
								<p>Waytation, 2020</p>
								<p><b>Development tools: </b>
									React
									Bootstrap
									Leaflet 
									Axios
									LeafletDraw 
									Mapbox
									Docker
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p3.jpg' %}" alt="">
								<div class="overlay"></div>
								<!-- <a href="{% static 'img/portfolio/p3.jpg' %}" class="img-gal"> -->
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								<!-- </a> -->
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">Node.js Web App</a></h4>
								<p>Waytation, 2019</p>
								<p><b>Development tools: </b>
									Node 
									Bunyan
									Express 
									Bootstrap
									EJS 
									Nodemon 
									Docker
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p4.jpg' %}" alt="">
								<div class="overlay"></div>
								<!-- <a href="{% static 'img/portfolio/p4.jpg' %}" class="img-gal"> -->
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								<!-- </a> -->
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">Shopware Onlineshop</a></h4>
								<p>Apoolco, 2019</p>
								<p><b>Development tools: </b>
									Shopware 
									Smarty
									PHP 
									Javascript
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p5.jpg' %}" alt="">
								<div class="overlay"></div>
								<!-- <a href="{% static 'img/portfolio/p5.jpg' %}" class="img-gal"> -->
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								<!-- </a> -->
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">Shopware Onlineshop</a></h4>
								<p>b-intense, 2018</p>
								<p><b>Development tools: </b>
									Shopware 
									Smarty
									PHP 
									Javascript
								</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-6 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p6.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'img/portfolio/p6.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">multiply fowl</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 all upcoming following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p7.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'img/portfolio/p7.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">green heaven</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all following">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p8.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'img/portfolio/p8.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4>fly male</h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all upcoming">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/p9.jpg' %}" alt="">
								<div class="overlay"></div>
								<a href="{% static 'img/portfolio/p9.jpg' %}" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="portfolio-details.html">season face</a></h4>
								<p>Animated, portfolio</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->

	<!--================ Start Testimonial Area =================-->
	<div class="testimonial_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Things people say</h2>
						<!-- <p>Deine Meinung ist mir besonders wichtig. Im gesamten Entwicklungsprozess werde ich deine Vorstellungen und Wünsche stets berücksichtigen.</p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="testi_slider owl-carousel">
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'img/testimonials/t3.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
									<h4 class="mb-1">Öznur Aslan</h4>
									<h6 class="text-secondary">Waytation GmbH</h6>
									<p>Herr Siedler erfüllte unsere Erwartungen zur vollsten Zufriedenheit und mit höchstem Maße an Professionalität. Wir wollen uns hiermit noch einmal bei Herrn Siedler für die hervorragende Zusammenarbeit bedanken.</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'img/testimonials/t2.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
									<h4 class="mb-1">Markus Steinbauer</h4>
									<h6 class="text-secondary">Apoolco GmbH</h6>
									<p>Herr Siedler hat unsere Anforderungen stets zur vollsten Zufriedenheit erledigt. Er überzeugte durch Zuverlässigkeit, große Einsatzbereitschaft und außergewöhnliches Engagement bei der Lösung schwieriger Aufgaben.</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<!-- <div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'img/testimonials/t1.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'img/testimonials/t2.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'img/testimonials/t1.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Elite Martin</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="testi_item">
        				<div class="row">
        					<div class="col-lg-4">
        						<img src="{% static 'img/testimonials/t2.jpg' %}" alt="">
        					</div>
        					<div class="col-lg-8">
        						<div class="testi_text">
        							<h4>Davil Saden</h4>
									<p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
        						</div>
        					</div>
        				</div>
        			</div> -->
        		</div>
			</div>
		</div>
	</div>
	<!--================ End Testimonial Area =================-->
 
</main>
{% endblock %}
